{% extends "template.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Over de BNTL</h3>
        <p class="fw-bold">Redactie</p>
        <p>
        De interne redactie van de BNTL bestaat uit een Nederlandse en een Vlaamse afdeling. 
        De Nederlandse afdeling is werkzaam aan het Huygens ING en wordt gefinancierd door de 
        Koninklijke Nederlandse Akademie van Wetenschappen. 
        De Vlaamse afdeling is gehuisvest in de Koninklijke Bibliotheek van België te Brussel en 
        wordt gesubsidieerd door het Centrum voor de Bibliografie van de Neerlandistiek. 
        De redactie zorgt voor de invoer van een kernlijst van wetenschappelijke secundaire 
        literatuur over de Nederlandse taal- en letterkunde. Sinds 24 april 2009 is het voor 
        niet-redactieleden mogelijk titels aan de bibliografie toe te voegen (zie verder onder inloggen). 
        Voor vragen kunt u terecht bij bntl@huygens.knaw.nl. </p>
        <p class="fw-bold">Programmatuur</p>
        <p>
        De technische ontwikkeling van de nieuwe BNTL wordt verzorgd door het Ontwikkelteam van het Huygens ING. 
        Het nieuwe systeem heeft voorlopig de naam COB gekregen: Collaborative Online Bibliography tool, en zal
        ook worden ingezet voor andere bibliografieën. De links naar bibliografieën van aangrenzende vakgebieden 
        die van dit zelfde systeem gebruikmaken zijn te vinden op het beginscherm van de BNTL. 
        </p>
        <p class="fw-bold">Geschiednis</p>
        <p>
            De huidige BNTL is de recentste versie van de bibliografie die in 1970 op papier is aangevangen. Recente upgrades:
            <ul>
                <li>in april 2008 kwam de BNTL beschikbaar op het platform van het Collaborative Online Bibliography tool (COB);</li>
                <li>in april 2009 kwam voor externe gebruikers de mogelijkheid ter beschikking om zelf titels toe te voegen 
                    aan de bibliografie. Bovendien werd het zoeken met diakritische tekens vergemakkelijkt;</li>
                <li>in april 2010 werden RSS feeds aan de BNTL toegevoegd (zowel op het niveau van de gehele bibliografie als van 
                    specifieke zoekacties). Bovendien worden bij het zoeken ook aanwezige full-text bestanden doorzocht. 
                    Daarnaast zijn wat kleinere wijzigingen aangebracht, onder andere om het invoeren van nieuwe titels te vergemakkelijken.</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}
