{% extends "template.html" %}

{% block title %}_('About'){% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>{{ _('Over de BNTL') }}</h3>
        <p class="fw-bold">{{ _('Wat') }}</p>
        <p>
        {{ _('De BNTL is een basistool van de neerlandistiek. Elk onderzoek, elke paper, elke presentatie
        start met een zoekactie in de BNTL.
        De BNTL bevat Nederlandse, Vlaamse en buitenlandse titels van publicaties over
        Nederlandse taal- en letterkunde uit de periode 1940 tot heden (dus geen primaire
        literatuur), waar mogelijk met een link naar de digitale volledige teksten.') }}
        </p>
        <p class="fw-bold">{{ _('Missie en doelstelling') }}</p>
        <p>
        {{ _('Het Vlaamse Bureau voor de Bibliografie van de Neerlandistiek werd in 1969 opgericht met
        het doel de publicaties die verschijnen op het gebied van de neerlandistiek te
        inventariseren en te ontsluiten en dat in de meest ruime zin:
        taal- en letterkunde van de middeleeuwen tot heden, inclusief publicaties over het literaire
        leven, de productie en verspreiding van teksten (codicologie, boek- en drukgeschiedenis,
        kunstgeschiedenis, uitgeverijen en publieke media, prijzen, ...), of de plaats van taal en tekst
        in de geschiedenis van onderwijs, kerk, politiek enzovoort.') }}
        </p>
        <p class="fw-bold">{{ _('Voor wie') }}</p>
        <p>
        {{ _('Voor neerlandici in binnen- en buitenland, maar ook voor een brede doelgroep van
        (kunst)historici, bibliotheekmedewerkers, publicisten en, vanzelfsprekend, studenten en
        leerlingen.') }}
        </p>
        <p class="fw-bold">{{ _('Geschiedenis') }}</p>
        <p>
        {{ _('In 1969 werd een aanvang genomen met het excerperen van publicaties met het oog op een
        bibliografie van de Nederlandse taal- en letterkunde. De BNTL startte in 1970 op papier.') }}
        </p>
        <p class="text-center"><img src="/static/assets/img/Foto blauwe banden.jpg"></p>
        <p>
        {{ _('In 2008 werd de BNTL een website. Sinds oktober 2024 is die website helemaal vernieuwd
        met extra aandacht voor de duurzame bewaring van de data, een betere doorzoekbaarheid
        en meer toegang tot open access-artikelen.') }}
        </p>
    </div>
</div>
{% endblock %}
