{% extends "template.html" %}

{% block title %}Geschiedenis{% endblock %}

{% block content %}

{%- 
    set imgMap = {
      'ADVS': "cddvd",
      'BOOK': "boek",
      'CHAP': "artikelboek",
      'EJOUR': "artikelwebpage",
      'JFULL': "artikeltijdschrift",
      'JOUR': "tijdschriftofreeks",
      'WEB': "website"
  } 
  -%}
  

<div class="row">
  <div class="col">
    <h3 class="pb-3">Zoekgeschiedenis</h3>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 row-cols-xs-1 g-2">
      {% for query in queries %}
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <a style="text-decoration: none" class="stretched-link link-dark" href="/paginate?query_id={{query._id}}">{{ query.timestamp.strftime('%B %d, %Y, %H:%M:%S') }}</a>
          </div>
          <div class="card-body" id="historyCard">
            <div class="card-text py-0">
              <ul class="py-0" style="padding: 0; list-style-type: none;">
              {% if query.search_query.full_text %}
              <li><span class="fw-bold">Fulltext: </span>"{{query.search_query.full_text}}"</li>
              {% endif %}
              {% if query.search_query.type_of_reference %}
              <li><span class="fw-bold">Publicatietype: </span>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{query.search_query.type_of_reference}}">
                  <img src="/static/assets/img/{{imgMap[query.search_query.type_of_reference]}}.png">
                </span>
              </li>
              {% endif %}
              {% if query.search_query.year %}
              <li><span class="fw-bold">Jaar: </span>"{{query.search_query.year}}"</li>
              {% endif %}

              {% if query.search_query.title %}
              <li><span class="fw-bold">Title: </span>"{{query.search_query.title}}"
                {% if query.search_query.use_regex_title %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Using regex">
                  <img width="10px" src="/static/assets/img/regex.svg">
                </span>
                {% endif %}
                {% if query.search_query.use_case_title %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Using regex">
                  <img width="15px" src="/static/assets/img/letter-case-capitalize.svg">
                </span>
                {% endif %}
              </li>
              {% endif %}

              {% if query.search_query.author %}
              <li><span class="fw-bold">Auteur: </span>"{{query.search_query.author}}"
                {% if query.search_query.use_regex_author %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Using regex">
                  <img width="10px" src="/static/assets/img/regex.svg">
                </span>
                {% endif %}
                {% if query.search_query.use_case_author %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Using regex">
                  <img width="15px" src="/static/assets/img/letter-case-capitalize.svg">
                </span>
                {% endif %}
              </li>
              {% endif %}

              {% if query.search_query.keywords %}
              <li><span class="fw-bold">Trefwoorden: </span>"{{query.search_query.keywords}}"
                {% if query.search_query.use_regex_keywords %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Using regex">
                  <img width="10px" src="/static/assets/img/regex.svg">
                </span>
                {% endif %}
                {% if query.search_query.use_case_keywords %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Using regex">
                  <img width="15px" src="/static/assets/img/letter-case-capitalize.svg">
                </span>
                {% endif %}
              </li>
              {% endif %}
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-text text-end"><small class="text-muted">{{ query.last_accessed.astimezone() | naturaltime }}</small></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}