{% extends "template.html" %}

{% block title %}BNTL{% endblock %}

{% block content %}
<div class="row">
    <!-- infobox -->
    <div class="col-xs-12 col-md-6 order-0">
        <div class="row">
            <div class="card border-secondary px-0">
                <div class="card-header">
                    <h4>BIBLIOGRAFIE</h4>
                    <h4 class="text-muted small">VAN DE NEDERLANDSE TAAL- EN LITERATUURWETENSCHAP</h4>
                </div>
                <div class="card-body">
                    <p class="fs-6 card-text">
                    De BNTL bevat Nederlandse, Vlaamse en buitenlandse titels van publicaties over Nederlandse taal- en letterkunde 
                    uit de periode 1940 tot heden (dus geen primaire literatuur), waar mogelijk met een link naar de digitale volledige teksten. 
                    </br>
                    We zijn benieuwd naar uw ervaringen en wensen bij het gebruik van de bibliografie. Met het invullen van de <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://goo.gl/forms/F7g9vbzBfzj14EdS2">gebruikersenquête</a>
                    kan u mee nadenken over de BNTL van de toekomst. 
                    </p>
                    <p class="text-end"><a href="/about">Lees verder...</a></p>
                </div>
            </div>
        </div>
        <div class="row fw-light px-3 pt-3">
            <div class="col">
                Dit database maakt gebruikt van <a href="https://www.zotero.org"><img width=60 src="/static/assets/img/zotero-logo.svg"></a>
            </div>
        </div>
        <hr>
        <div class="row fw-light px-3">
            <div class="col">
                Bekijk ook de Friese bibliografie: <span class="fw-bold"><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="http://www.bftl.nl">BFTL</a></span>
            </div>
        </div>
        <hr>
        <div class="row fw-light px-3">
            <div class="col">
                Digitale Bibliografie voor die Afrikaanse Taalkunde <span class="fw-bold"><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="http://collections.nwu.ac.za/dbtw-wpd/textbases/bibliografie-afrikaans/dbat.html">DBAT</a></span>
            </div>
        </div>
    </div>

    <!-- searchbox -->
    <div class="col-xs-12 col-md-6 order-1 order-sm-0">
        <div class="row">
            <form id="fullText">
                <div class="input-group">
                    <div class="form-floating flex-grow-1">
                        <input type="text" class="form-control" name="full_text">
                        <label for="code1">Zoek op</label>
                    </div>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">zoeken</button>
                </div>
                <div class="fw-light px-2">Run full-text search over all fields of the bibliographic entries</div>
            </form>
        </div>
        <div class="row pt-2">
            <p class="text-end"><a href="/search">geavanceerd zoeken</a></p>
            <p class="text-end"><a href="/history">zoekgeschiedenis</a></p>
        </div>
    </div>

</div>
{% endblock %}