{% extends "template.html" %}

{% block title %}Item{% endblock %}

{% block content %}

{% if item.document.type_of_reference == "ADVS" %}
{% include "reftypes/advs.html" %}
{% elif item.document.type_of_reference == "BOOK" %}
{% include "reftypes/book.html" %}
{% elif item.document.type_of_reference == "CHAP" %}
{% include "reftypes/chap.html" %}
{% elif item.document.type_of_reference == "JFULL" %}
{% include "reftypes/jfull.html" %}
{% elif item.document.type_of_reference == "JOUR" %}
{% include "reftypes/jour.html" %}
{% elif item.document.type_of_reference == "WEB" %}
{% include "reftypes/web.html" %}
{% endif %}

{% endblock %}