
{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login-container">
    <div class="d-flex justify-content-center align-items-center">
        <div id="card" class="card login-card shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Login</h5>
                <form class="form-floating" id="login-form">
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" placeholder="{{ _('Voer uw wachtwoord in') }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">{{ _('Indienen') }}</button>
                </form>
                <div class="mt-3">
                    <div id="feedback" class="small text-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="module" src="/static/js/login.js"></script>
{% endblock %}