<div class="row">
  <div class="col text-end">
    <div class="btn-group dropstart">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      </button>
      <ul class="dropdown-menu text-center">
        <li>
          <a class="dropdown-item" target="_blank" href="/item?doc_id={{item.doc_id}}">Permalink <img width="15px" src="/static/assets/img/permalink.svg">
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="/vectorQuery?doc_id={{item.doc_id}}&limit=10">Vector query <img width="18px" src="/static/assets/img/microchip-ai_12400758.svg">
          </a>
        </li>
        <li>
          <a class="dropdown-item" target="_blank" href="/exportRecord?doc_id={{item.doc_id}}&format=bib">{{ _('.bib exporteren') }}<img width="15px" src="/static/assets/img/export.png">
          </a>
        </li>
        <li>
          <a class="dropdown-item" target="_blank" href="/exportRecord?doc_id={{item.doc_id}}&format=ris">{{ _('.ris exporteren') }}<img width="15px" src="/static/assets/img/export.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row small">
    <div class="col-10 px-1">
      <!-- type of reference -->
      <div class="row pb-2">
        <span><span class="fw-bold pe-2">{{ _('Publicatietype') }}</span><span>{{refMap[item.type_of_reference]}}</span></span>
      </div>
      <!-- year -->
      <div class="row pb-2">
        <span><span class="fw-bold pe-2">{{ _('Jaar') }}</span>
        <span>{{item.year}}{% if item.end_year is number and item.end_year - 1 > item.year %}-{{item.end_year}}{% endif %}</span>
        </span>
      </div>
      <!-- title -->
      <div class="row pb-2">
        <span><span class="fw-bold pe-2">{{ _('Titelbeschrijving') }}</span>
        <span>{{item.title}}
          {% if item.secondary_title %}<span class="px-0 text-muted">{{item.secondary_title}}</span>{% endif %}
          {% if item.tertiary_title %}<span class="px-0 text-muted">{{item.tertiary_title}}</span>{% endif %}</span>
        </span>
      </div>
      <!-- authors -->
      <div class="row pb-0">
        <span>
          <span class="fw-bold pe-2">{{ _('Auteur(s)') }}</span>
          <ul class="pb-0">
            {% if item.authors %}
            {% for author in item.authors %}
            <li><a class="pb-0" href="/quickQuery?author={{author}}">{{author}}</a></li>
            {% endfor %}
            {% endif %}
            {% if item.first_authors %}
            {% for author in item.first_authors %}
            <li><a class="pb-0" href="/quickQuery?author={{author}}">{{author}}</a></li>
            {% endfor %}
            {% endif %}
            {% if item.secondary_authors %}
            {% for author in item.secondary_authors %}
            <li><a class="pb-0" href="/quickQuery?author={{author}}">{{author}}</a></li>
            {% endfor %}
            {% endif %}
            {% if item.tertiary_authors %}
            {% for author in item.tertiary_authors %}
            <li><a class="pb-0" href="/quickQuery?author={{author}}">{{author}}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
        </span>
      </div>
      <!-- abstract -->
      {% if item.abstract %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Extra informatie') }}</span>
          <span>{{item.abstract}}</span>
        </span>
      </div>
      {% endif %}
      <!-- keywords -->
      {% if item.keywords %}
      <div class="row pb-0">
        <span>
          <span class="fw-bold pe-2">{{ _('Trefwoord(en)') }}</span>
          <ul class="pb-0">
          {% for keyword in item.keywords %}
            <li><a class="keyword px-0" href="/quickQuery?keywords={{keyword}}">{{keyword}}</a></li>
          {% endfor %}
          </ul>
        </span>
      </div>
      {% endif %}
      <!-- URL -->
      {% if item.urls %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('URL (link naar open acces)') }}</span>
          <ul class="pb-0">
          {% for url in item.urls %}
            <li><a class="px-0" href="{{url}}">{{url}}</a></li>
          {% endfor %}
        </ul>
        </span>
      </div>
      {% endif %}
      <!-- pages -->
      {% if item.start_page %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Pagina(s)') }}</span>
          <span>{{item.start_page}}{% if item.end_page %}-{{item.end_page}}{% endif %}</span>
        </span>
      </div>
      {% endif %}
      <!-- journal_name -->
      {% if item.journal_name %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Tijdschrift') }}</span>
          <span>{{item.journal_name}}</span>
        </span>
      </div>
      {% endif %}
      <!-- volume -->
      {% if item.volume %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Volume') }}</span>
          <span>{{item.volume}}</span>
        </span>
      </div>
      {% endif %}
      <!-- number -->
      {% if item.number %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Nummer') }}</span>
          <span>{{item.number}}</span>
        </span>
      </div>
      {% endif %}
      <!-- research_notes -->
      {% if item.research_notes %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Recensie/Reactie') }}</span>
          <span>{{item.research_notes}}</span>
        </span>
      </div>
      {% endif %}
      <!-- issn -->
      {% if item.issn %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('ISBN-nummer') }}</span>
          <span>{{item.issn}}</span>
        </span>
      </div>
      {% endif %}
      <!-- place_published -->
      {% if item.place_published %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Plaats van uitgave') }}</span>
          <span>{{item.place_published}}</span>
        </span>
      </div>
      {% endif %}
      <!-- publisher -->
      {% if item.publisher %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Uitgeverij') }}</span>
          <span>{{item.publisher}}</span>
        </span>
      </div>
      {% endif %}
      <!-- notes_abstract -->
      {% if item.notes_abstract %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Oude notatie') }}</span>
          <span>{{item.notes_abstract}}</span>
        </span>
      </div>     
      {% endif %} 
      <!-- custom3 -->
      {% if item.custom3 %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Titelbeschrijving boek') }}</span>
          <span>{{item.custom3}}</span>
        </span>
      </div>
      {% endif %}
      <!-- custom4 -->
      {% if item.custom4 %}
      <div class="row pb-2">
        <span>
          <span class="fw-bold pe-2">{{ _('Gerelateerde artikels') }}</span>
          <span>{{item.custom4}}</span>
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
