{% extends "template.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card border-secondary px-0">
      <div class="card-header">
        <h3 class="text-uppercase">Geavanceerd zoeken</h3>
      </div>
      <div class="card-body">
        <form id="searchForm" class="needs-validation" novalidate>
          <!-- reference type -->
          <div class="row">
            <div class="col">
              <div class="form-floating flex-grow-1 py-2">
                <select id="type_of_reference_select" class="form-select" name="type_of_reference" aria-label="Floating label select example">
                  {% for rType in type_of_reference %}
                    <option value="{{rType}}">{{rType}}</option>
                  {% endfor %}
                  <option value="" selected>Kies er een</option>
                </select>
                <label for="type_of_reference">Publicatie type</label>
                <div class="row fw-light px-2">
                  <div class="col small">
                    Reference type quick help text
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- year -->
          <div class="row">
            <div class="col">
              <div class="form-floating flex-grow-1 py-2">
                <input type="text" class="form-control" name="year" placeholder="1987" pattern="[0-9]{4}(-[0-9]{4})?">
                <div class="invalid-feedback">
                Invalid
                </div>
                <label for="year">Jaar</label>
                <div class="row fw-light px-2">
                  <div class="col small">
                    Year quick help text
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% for key, screen in [("author", "Auteur"), ("title", "Titelbeschrijving"), ("keywords", "Trefwoorden")] %}          
          <div class="row">
            <div class="col">
              <div class="form-floating flex-grow-1 py-2">
                <input id="{{key}}-input" type="text" class="form-control" name="{{key}}" placeholder="test">
                <label for="{{key}}">{{screen}}</label>
                <div id="{{key}}-dropdown" class="dropdown-menu" style="display: none;"></div>
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- button -->
          <div class="row pt-2 text-center">
            <div class="col">
              <button type="submit" class="btn btn-primary">Zoek</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "loading_modal.html" %}
{% include "error_modal.html" %}

{% endblock %}
