{% extends "template.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card border-secondary px-0">
      <div class="card-header">
        <h3 class="text-uppercase">Geavanceerd zoeken</h3>
      </div>
      <div class="card-body">
        <form id="searchForm" class="needs-validation" novalidate>
          <!-- reference type -->
          <div class="row">
            <div class="col">
              <div class="form-floating flex-grow-1 py-2">
                <select id="type_of_reference_select" class="form-select" name="type_of_reference" aria-label="Floating label select example">
                  {% for rType in type_of_reference %}
                    <option value="{{rType}}">{{rType}}</option>
                  {% endfor %}
                  <option value="" selected>Kies er een</option>
                </select>
                <label for="type_of_reference">Publicatie type</label>
                <div class="row fw-light px-2">
                  <div class="col small">
                    Reference type quick help text
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- year -->
          <div class="row">
            <div class="col">
              <div class="form-floating flex-grow-1 py-2">
                <input type="text" class="form-control" name="year" placeholder="1987" pattern="[0-9]{4}(-[0-9]{4})?">
                <div class="invalid-feedback">
                Invalid
                </div>
                <label for="year">Jaar</label>
                <div class="row fw-light px-2">
                  <div class="col small">
                    Year quick help text
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% for screen, key in [("author", "Auteur"), ("title", "Titelbeschrijving"), ("keywords", "Trefwoorden")] %}
          <div class="row">
            <div class="col">
              <div class="form-floating flex-grow-1 py-2">
                <input type="text" class="form-control" name="{{screen}}" placeholder="test">
                <label for="{{screen}}">{{key}}</label>
              </div>
              <div class="form-check form-switch form-check-inline form-check-reverse float-end">
                <label class="form-check-label" for="use_case_{{screen}}">                 
                   <span data-bs-toggle="tooltip" data-bs-placement="top" title="Use case">
                    <img width="16px" src="/static/assets/img/letter-case-capitalize.svg">
                  </span>
                </label>
                <input id="{{screen}}_case_id" class="form-check-input" role="switch" type="checkbox" name="use_case_{{screen}}">
              </div>
              <div class="form-check form-check-inline form-check-reverse form-switch float-end">
                <label class="form-check-label" for="use_regex_{{screen}}">
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="Use regex">
                    <img width="14px" src="/static/assets/img/regex.svg">
                  </span>
                </label>
                <input id="{{screen}}_regex_id" class="form-check-input" role="switch" type="checkbox" name="use_regex_{{screen}}">
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- button -->
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">Zoek</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}



