{% extends "template.html" %}

{% block title %}Upload{% endblock %}
{% block script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/vanjs-org/van/public/van-1.5.0.nomodule.min.js"></script>
<script type="module" src="/static/js/upload.js"></script>
{% endblock %}

{% block content %}

<script>
// Dynamically generated constants from the backend
let obj = Object.create(null);
{% for key, value in statuses.items() %}
obj["{{key}}"] = '{{value}}';
{% endfor %}
const STATUS = Object.freeze(obj);
</script>

<div class="row">
    <div class="d-flex justify-content-center align-items-center" id="entryPoint"></div>
</div>

{% endblock %}