{% extends "template.html" %}

{% block title %}Upload{% endblock %}
{% block script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/vanjs-org/van/public/van-1.5.0.nomodule.min.js"></script>
<script type="module" src="/static/js/upload.js"></script>
{% endblock %}

{% block content %}

<script>
// Dynamically generated constants from the backend
let obj = Object.create(null);
{% for key, value in statuses.items() %}
obj["{{key}}"] = '{{value}}';
{% endfor %}
const STATUS = Object.freeze(obj);

function resetDatabase() {
    const a = document.createElement('a');
    a.style.display = 'none';
    a.href = "resetDatabase";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
}
</script>


<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <!-- upload -->
        <div class="row">
            <div id="entryPoint"></div>
        </div>
        <!-- reset -->
        <div class="row mt-3">
            <div>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Reset database</h5>
                  <p class="card-text">Click here to reset the database to the original defaults. All records will be lost.</p>
                  <a href="#" class="btn btn-danger" id="reset-btn" onclick="resetDatabase()">Reset</a>
                </div>
              </div>
            </div>
        </div>        
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}